.card {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  margin-bottom: 40px;
  background: #FFF;

  header {
    padding: 15px;
  }

  img {
    width: 100%;
  }

  footer {
    padding: 15px;
  }

  .likes {
    margin-bottom: 10px;
  }

  .comments {
    font-size: 14px;
    p {
      margin: 0;
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
