.stories-container {
  display: flex;
  align-content: space-between;
  margin-bottom: 20px;
}
.story {
  width: 150px;
  height: 240px;
  border-radius: 5px;
  margin-right: 20px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
